:root {
    font-size: 17px;
}
body, html {
    margin: 0;
    background-color: #090909;
    color: #cccccc;
    font-family: 'ClashGrotesk-Regular';
    height: 100vh;
}

h1 {
    font-weight: unset;
    font-size: 1rem;
    text-transform: uppercase;
    margin: 0;
}

p {
    margin: 0;
    line-height: 1.4rem;
}

.shade {
    background-color: #090909;
    visibility: visible;
    position: fixed;
    height: 100lvh;
    width: 100%;
    z-index: 300;
}

.vid-btn-x {
    width: 80px;
    margin-left: 1.4rem;
    margin-top: 2rem;
    z-index: 100;
}

@media (min-width: 1270px) {
    .vid-btn-x {
        width: 393px;
        margin: 0 0 0 -50px;
    }
}

.cover {
    position: absolute;
    margin-left: -2px;
    width: 298px;
    height: 175px;
    background-color: aqua;
    border-radius: 1.2rem;
    background-position: left -7px;
    background-repeat: no-repeat;
    background-size: 140%;
    mix-blend-mode: overlay;
    box-shadow: 0 0 1px 1px #090909 inset;
    display: flex;
    align-items: center;
    justify-content: center;
    filter: contrast(80%);
    cursor: pointer;
}

#p1 {
    background-image: url('Billboard-Mockup.jpg');    
}

.wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
}

@media (min-width: 2397px) {
    .wrapper {
        margin: auto;
        width: 2397px;
    } 
}

.title {
    width: 400px;
    display: grid;
    grid-template-rows: 180px 1rem 1rem;
    gap: 1rem;
    z-index: 200;
}

.title h1:nth-of-type(1) {
    font-size: 24px;
    position: absolute;
    margin-top: calc(175px/2);
    margin-left: calc(298px/2);
    transform: translate(-50%, -50%);
    mix-blend-mode: overlay;
    color: #ffffff;
    cursor: pointer;
}

.info {
    width: 400px;
    display: grid;
    row-gap: 1rem;
    bottom: 3rem;
    margin-left: 3rem;
    grid-row: 2;
    height: 100%;
}

.description {
    display: grid;
    align-self: flex-end;
    gap: 1rem;
    margin-bottom: 3rem;
}

.description p {
    height: 100%;
    overflow-y: auto;
}

.case {
   display: grid;
   height: 100%;
   grid-template-columns: 700px 1fr;
   grid-template-rows: 30% 1fr;
   padding-right: 3rem;
}

@media (max-width: 1680px) {
    .case {
        grid-template-columns: 600px 1fr;
    }
}

.gallery {
    position: absolute;
    top: 0;
}

.text {
    grid-template-columns: 700px;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    height: 100%;
    z-index: 100;
}

.images {
    display: grid;
    width: 100%;
    grid-column: 2;
    grid-row: 2;
    row-gap: 3rem;
}

.images > img {
    width: 100%;
    border-radius: 1.3rem;
}

.images img:last-of-type {
    margin-bottom: 3rem;
}

