body, html {
    margin: 0;
    /* background-color: rgba(6,5,6,1); */
}

.video-container {
    width: 27.5%;
    position: relative;
    top: calc(100vw/12.7);
    margin: auto;
    
}

.video {
    width: 100%;
    position: absolute;
    mask-image: url(halftone-mask.svg);
    -webkit-mask-image: url(halftone-mask.svg);
    


}

.still {
    position: absolute;
    top: calc(-1*(100vw/15.184));
    width: 100%;
    z-index: -1;
    /* filter: blur(2px); */
}

.click {
    z-index: 10;
}

.invisible {
    opacity: 0;
}




.btn {
    position: absolute;
    top: calc(100vw * 0.01);
    right: 50%;
    transform: translateX(50%);
    z-index: 20;
    /* background-color: rgba(255,0,0,0.2); */
    background-color: transparent;
    width: 14vw;
    height: calc(100vw/23);
}

#btn-bottom {
    top: calc(100vw * 0.066);
}