:root {
    --vh: 0;
}
body, html {
    margin: 0;
    background-color: #090909;
    overflow: hidden;
}

.land {
    width: auto;
    height: 1950px;
    overflow: visible;

}

.interact {
    margin-left: 50%;
    transform: translateX(-50%);
    top: max(calc(10000/(var(--vh)) * -20px), -300px);
    width: 2160px;
    /* height: calc((10000/(var(--vh)) * 20px) + 100vh); */
    height: 1950px;
    /* overflow: visible; */
    position: relative;
    
}

.vid-btn-wrp {
    margin-left: 50%;
    transform: translateX(-50%);
    width: 600px;
    height: auto;
    position: absolute;
    top: 310px;
}

.vid {
    width: 100%;
}

.vid-btn {
    z-index: 1;
    visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
}

.vid-bg {
    position: absolute;
    top: 0;
    margin-left: 50%;
    transform: translateX(-50%);
    width: 2160px;
    height: auto;
    z-index: 2;
    mask-image: url(mask-bottom.png);
    -webkit-mask-image: url(mask-bottom.png);
    mask-position: center;
    -webkit-mask-position: 50% 20%;
    mask-size: 100%;
    -webkit-mask-size: 100%;
    filter: blur(10px);
}



.btn {
    position: absolute;
    margin-left: 50%;
    transform: translateX(-50%);
    top: 332px;
    z-index: 100;
    /* background-color: rgba(255,0,0,0.2); */
    background-color: transparent;
    width: 310px;
    height: 97px;
}

#btn-b {
    top: 456px;
}

.contain {
    position: relative;
    width: 100vw;
    height: 100lvh;
    background-color: transparent;
    display: none;
    overflow: scroll;
}

.content {
    display: none;
    width: 70%;
    /* margin: auto; */

}

.about {
    background-color: aqua;
    

}

.work {
    height: 100%;
    width: 100%;
    /* background-color: blueviolet; */
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 3rem;
    align-content: flex-start;
}


.project .cover {
    width: 340px;
    height: 200px;
    background-color: aqua;

}

.project .title {
    /* width: auto; */
    margin-left: 50%;
    transform: translateX(-50%);
    font-family: Arial, Helvetica, sans-serif;
    color: beige;

}

@media (min-width: 730px) {

    .work {
        height: auto;
        width: 1200px;
        align-content: center;
        margin: auto;
    }
    
  }
  