:root {
    --vh: 0;
}
body, html {
    margin: 0;
    background-color: #090909;
}

.wrp {
    width: auto;
    height: 100lvh;
    overflow: hidden;

}

.vid-wrp {
    top: max(calc(10000/(var(--vh)) * -20px), -300px);
    width: 100%;
    height: calc((10000/(var(--vh)) * 20px) + 100vh);
    overflow: hidden;
    position: relative;
    
}

.vid-btn-wrp {
    margin-left: 50%;
    transform: translateX(-50%);
    width: 600px;
    height: 100%;
    position: absolute;
    top: 310px;


    
}

.vid {
    width: 100%;
    position: absolute;
}

.vid-bg {
    position: absolute;
    top: 0;
    margin-left: 50%;
    transform: translateX(-50%);
    width: 2160px;
    z-index: 2;
    mask-image: url(bg-mask.png);
    -webkit-mask-image: url(bg-mask.png);
    mask-position: center;
    -webkit-mask-position: 50% 20%;
    mask-size: 100%;
    -webkit-mask-size: 100%;
    filter: blur(7px);
}

.vid-btn {
    z-index: 1;
    visibility: hidden;
}

.btn {
    position: absolute;
    margin-left: 50%;
    transform: translateX(-50%);
    top: 332px;
    z-index: 100;
    /* background-color: rgba(255,0,0,0.2); */
    background-color: transparent;
    width: 310px;
    height: 97px;
}

#btn-b {
    top: 456px;
}

.con-wrp {
    position: relative;
    width: 100vw;
    height: 100lvh;
    background-color: red;
    display: none;
}

.con {
    width: 50%;
    height: 20%;
    background-color: aqua;
    display: none;

}

#con-wrk {
    background-color: blueviolet;
}