@font-face {
    font-family: DINish;
    src: url(/woff/DinishExpanded-Regular.woff);
}

:root {
    --main-bg-color: #FDFDFD;
    --main-accent-color: #0000F3;
    --main-text-color: #19191A;
    --main-border-width: 2.5px solid;
}

* {
    overscroll-behavior: none;
}

html,
body {
    font-family: 'DINish';
    width: calc(var(--vw) * 100);
    height: 100svh;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
    /* scroll-behavior: none; */
}

::-webkit-scrollbar{
    display: none;
}

.layout-rows {
    display: flex;
    flex-flow: column;
    width: 100%;
    height: 100svh;
    overflow: scroll;
    overflow-x: hidden;
}

.header-grid {
    flex: 0 0 auto;
    width: 100%;
    height: 50%;
    background-color: var(--main-accent-color);
    color: var(--main-bg-color);
    transition: height 800ms ease-in-out;
    
    border: var(--main-border-width) var(--main-text-color);
    border-bottom: none;
    border-top: none;
}

.header-grid.active {
    height: 50px;
}

.holder {
    top: 0;
    position: absolute;
    width: 100%;
    height: 50%;
    overflow: scroll;
    z-index: 200;
}


.gallery {
    flex: 1 1 auto;
    position: relative;
    height: 50%;
    overflow: scroll;
    box-sizing: border-box;
    border-top: var(--main-border-width) var(--main-text-color);
}

/* .gallery.active {
    overflow: hidden; 
} */

.container {
    height: 100%;
    max-width: fit-content;
    max-width: -moz-fit-content;

    /* overscroll-behavior: none; */
    
}


.panel{
    width: 100%;
    height: calc(var(--vh) * 25);
    background-color: aquamarine;
    box-sizing: border-box;
    border: var(--main-border-width) var(--main-text-color);
    border-top: none;
    contain: paint;
    /* overflow: hidden; */
}

.cover-image {
    height: 100%;
    object-fit: cover;
}

.panel > img {
    width: 100%;
}

.panel.end {
    height: 70%;
    display: none;
}

.panel.end.active {
    display: revert;
}

/* .panel.active > .title {
    position: fixed;
    width: inherit;
} */



.title {
    top: 0;
    position: -webkit-sticky;
    position: sticky;
    height: 20px;
    overflow: hidden;
    box-sizing: border-box;
    background-color: var(--main-bg-color);
    border-bottom: var(--main-border-width) var(--main-text-color);
    transition: height 400ms ease-in-out;
}

.title.expand {
    height: 200px;
}

.heading.active {
    border-bottom: var(--main-border-width) var(--main-text-color);
}

span {
    display: block;
}



@media (min-width: 500px) {

    :root {
        --main-border-width: 2.4px solid;
    }

    .gallery {
        overflow: hidden;
    }

    .container{
        display: flex;
        flex-wrap: nowrap;

    }

    .panel {
        contain: none;
        border-right: none;
        position: relative;
        flex-shrink: 0;
        width: 25%;
        height: 100%;
        overflow: hidden;

    }
    
}